.container
  align-items: center
  justify-content: space-between
.img
  margin-top: 20px
  width: 80%
.title
  margin-bottom: 0
.body
  flex: initial
.types
  text-align: center
  padding: 0
  color: #ffffff