.container
  align-items: center
  overflow: hidden
.img
  margin-top: 20px
  width: 80%
  position: relative
  min-height: 120px
  transition: 1s
.title
  margin-bottom: 0
.body
  flex: initial
.types
  text-align: center
  padding: 0
  color: #ffffff